{% extends "network/posts_template.html" %}

{% block new_post %}
    <div class="card">
        <div class="card-body">
            <h2>New Post</h2>
            <form action="{% url 'new_post' %}" method="POST">
                {% csrf_token %}
                <div>
                    <textarea rows=5 name="message"></textarea>
                </div>  
                <div>
                    <input type="submit" class="btn btn-primary" value="Post" style="width:-webkit-fill-available">
                </div>
            </form>
        </div>  
    </div>
{% endblock %}

{% block previous_button %}
    <li class="page-item"><a class="page-link" href="{% url 'following' page_number=previous %}">Previous</a></li>
{% endblock %}

{% block number_button %}
    <li class="page-item"><a class="page-link" href="{% url 'following' page_number=i %}">{{ i }}</a></li>
{% endblock %}

{% block next_button %}
    <li class="page-item"><a class="page-link" href="{% url 'following' page_number=next %}">Next</a></li>
{% endblock %}

{% block previous_button_end %}
    <li class="page-item"><a class="page-link" href="{% url 'following' page_number=previous %}">Previous</a></li>
{% endblock %}

{% block number_button_end %}
    <li class="page-item"><a class="page-link" href="{% url 'following' page_number=i %}">{{ i }}</a></li>
{% endblock %}

{% block next_button_end %}
    <li class="page-item"><a class="page-link" href="{% url 'following' page_number=next %}">Next</a></li>
{% endblock %}