{% extends "network/layout.html" %}

{% block script %}
{% load static %}
<script src="{% static 'network/edit.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    {% block followers %}{% endblock %}
    
    {% if user.is_authenticated %}

        {% block new_post %}{% endblock %}

    {% endif %}

    <nav aria-label="Post navigation">
    
    {% if num_pages > 1 %}
        
        <ul class="pagination justify-content-center">

            {% if not previous == 0 %}
            
                {% block previous_button %}{% endblock %}
    
            {% endif %}

            {% for i in page_range %}

                {% block number_button %}{% endblock %}

            {% endfor %}

            {% if not next > num_pages %}

                {% block next_button %}{% endblock %}

            {% endif %}
        </ul>
     
    {% endif %}

    {% for message in messages %}

    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><a href="{% url 'profile' name=message.user %}">{{ message.user }}</a></h3>
            <h4 class="card-subtitle">Posted: {{ message.created }}</h4>

            {% if message.last_edited.datetime != message.created.year.datetime %}
                <h5 class="card-subtitle">Last edited: {{ message.last_edited }}</h5>
            {% endif %}

            <div class="message" id="message-{{ message.pk }}">
                <p>{{ message.message }}</p>
            </div>
            <div class="likes">
                <!-- if user likes post -->
                <!-- red heart -->
                <!-- else -->
                <p>♡ {{ message.likes }}</p>
            </div> 
            {% if user.is_authenticated %}
            {% if user.get_username == message.user.username %}
            <div class="edit">
                <button class="btn btn-secondary edit-button" id="edit-button-{{ message.pk }}" onclick="edit({{ message.pk }})">Edit</button>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>

    {% empty %}

    No messages yet!

    {% endfor %}

    {% if num_pages > 1 %}
        
        <ul class="pagination justify-content-center" >

            {% if not previous == 0 %}
            
                {% block previous_button_end %}{% endblock %}
    
            {% endif %}

            {% for i in page_range %}

                {% block number_button_end %}{% endblock %}

            {% endfor %}

            {% if not next > num_pages %}

                {% block next_button_end %}{% endblock %}

            {% endif %}
        </ul>
     
    {% endif %}

    </nav>

{% endblock %}